{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint/eslint-plugin"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "react/button-has-type": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "function-declaration",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "react/no-arrow-function-lifecycle": "off",
    "react/no-invalid-html-attribute": "off",
    "react/no-unused-class-component-methods": "off",
    "react/no-unstable-nested-components": "off"
  }
}
