@use 'screens';

$width-wide: screens.$break-point-laptop-L;
$width-large: screens.$break-point-laptop;
$width-medium: screens.$break-point-tablet;
$width-small: screens.$break-point-tablet-S;
$width-tiny: screens.$break-point-tablet-S;

@mixin container($width: $width-wide, $padding: 10px) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
  transition: max-width ease-out 200ms;
}

@mixin wide($padding: 10px) {
  @include container($width-wide, $padding);
}

@mixin large($padding: 10px) {
  @include container($width-large, $padding);
}

@mixin medium($padding: 10px) {
  @include container($width-medium, $padding);
}

@mixin small($padding: 10px) {
  @include container($width-small, $padding);
}
