@use "~@cezembre/fronts/dist/containers";

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  .App {
    background: green;
    > .container {
      @include containers.wide();
      background: red;
      position: relative;

      > a {
        position: absolute;
        bottom: 0
      }
    }
  }
}
