@use "~@cezembre/fronts/dist/containers";

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    .App {
        font-size: 14px;

        > .container {
            @include containers.medium();
            background: green;
        }
    }

}
