@use "~@cezembre/fronts/dist/containers";

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    .App {
        font-size: 14px;

        > .container {
            margin-top: 30px;
            color: white;

            &.wide {
                @include containers.wide();
                background: blue;
            }

            &.large {
                @include containers.large();
                background: green;

            }

            &.medium {
                @include containers.medium();
                background: red;
            }

            &.small {
                @include containers.small();
                background: pink;
            }

        }
    }

}
